<?xml version="1.0" encoding="UTF-8"?>

<!--
   By default encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder
   see http://logback.qos.ch/manual/layouts.html
 -->
<configuration>

  <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
    <checkLoggable>false</checkLoggable>
    <encoder>
       <pattern>[%method] %msg%n</pattern>
    </encoder>
  </appender>



  <root level="TRACE">
    <appender-ref ref="LOGCAT" />
  </root>

</configuration>